// Specific CSS for your home-page

.home-container {
	position: fixed;
	top: 127px;
	left: 0;
	width: 100vw;
	height: 55vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.home-logo {
	width: 70vw;
	opacity: 0.5;
	max-width: 600px; 
}