// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

/* body, html {
	background-image: linear-gradient(to right bottom, #7b4397, #a1338a, #c01d73, #d40d55, #dc2430);
} */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
	font-family: 'Montserrat', sans-serif;
	background-color: #303030;
	color: #DDD;
	height: 100%;
	overflow-x: hidden; 
}

h1, h2, h3, a {
	color: #DDD;
}

a {
	transition-duration: 0.1s;
}

a:hover {
	color: #1db954;
	text-decoration: none;
}

input[type=text], input[type=password], input[type=email] {
	background-color: rgba(0, 0, 0, 0);
	color: #DDD;
}

textarea {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #DDD !important;
}

.title-show {
	color: orange;
	text-transform: uppercase;
}

.form-control:focus {
  border-color: orange;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.container {
	background-color: #252525;
	padding: 0px 60px 60px 60px;
	margin-top: 60px;
	border-radius: 4px; 
}

.card-link {
	margin-top: 20px;
	background-color: rgba(0,0,0,0.17);
	height: 100px;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.17)!important;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0.8;
}

.card-link:hover {
	opacity: 1;
	color: #CCC;
}

.card-link a {
	text-transform: uppercase;
	font-size: 25px;
	transition-duration: 0.1s;
}

.card-link a:hover {
	font-weight: bold;
	color: #DDD;
}

.btn {
	background-color: #1db954;
	color: #DDD;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 50px;
	width: 250px;
	height: 50px;
	opacity: 0.8;
	transition-duration: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.btn:hover {
	color: #DDD;
	opacity: 1;
	// background-color: green;
}

.btn-delete {
	color: #FFF;
	background-color: orange;
	// margin-top: 10px;
}

.btn-delete:hover {
	background-color: #DD3535;
}

.form-actions {
	display: flex;
	justify-content: center;
}

#article_body {
	min-height: 500px; 
}

.navbar-wagon{
	display: block;
}

.article-div-body {
	border: 1px solid #AAA;
	margin: 20px 0px;
	border-radius: 4px;
  	word-wrap: break-word;
	padding-top: 30px;
}

.btn-edit {
	padding: 0;
}

// MARKDOWN STYLE

code {
    padding: 10px 10px;
    margin: 10px;
    font-size: 90%;
    color: orange;
 	background-color: #151515;
  	border-radius: 2px;
}