<hr class="footer-hr">
<div class="footer-perso">
	<span>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Tom-Firth" style="font-weight: bold;">Tom - <i class="fab fa-github"></i></a> for his team</span>
</div>