<div class="home-container" style="align-items: center;">
	<%= image_tag("logo", class: "home-logo") %>
</div>
<div class="home-container">
	<%= link_to("Connexion", new_user_session_path , class: 'btn') %>
</div>