<div class="container">

  <h2 class="h2-maj">Voici les dernières Mises à Jour :</h2>

  <span class="date-maj">25/08/2018 :</span>

  <p class="text-maj">
    - Un peu design pour l'index des articles.<br>
    - Ajout d'un nom pour l'utilisateur.<br>
    - Ajout d'une nouvelle fonctionnalité, on peut désormais écrire nos articles en Markdown !<br>
    - Arrivé du Ninja, robot de prévention basique pour injections Script.<br>
    - Suppression du "Sing_up" qui se fera uniquement sur demande ou recrutement.<br>
  </p>

  <span class="date-maj">19/08/2018 :</span>

  <p class="text-maj">- Bug fix : Meta Viewport + Design.<br></p>

  <span class="date-maj">18/08/2018 :</span>

  <p class="text-maj">- Contruction et mise en Prod du site.<br></p>

</div>
