.footer-perso {
	// margin-top: 5px;
	width: 100vw;
	text-align: center;
	color: #909090;
	// background-color: #202020;
}

.footer-hr {
	border: none;
	border-radius: 1px;
	height: 2px;
	background-color: #909090;
	width: 150px;
	margin-top: 50px
}